* {
  font-family: "Courier New", Courier, monospace;
}

#gameBoard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  background-color: black;
  width: 324px;
  gap: 12px;
}

#gameBoard span {
  display: flex;
  font-size: 70px;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#gameBoard span.win {
  background-color: seagreen;
}
